<h1>Coaching#ask</h1></br></br>
<center>
<form action="/answer">
  <label for="question">Speak to your coach</label></br></br>
  <input type="text" id="question" name="query" placeholder="what time is it?"></br></br>
  <input type="submit" value="Go on!" class="btn btn-primary"></br></br>
</form>

</center>